@import "../../styles/variables.scss";

.genre-filter {
  @media (max-width: $mobilewidth) {
    width: calc(100vw - 10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
  }
  margin-bottom: 5px;
  input {
    margin-right: 5px;
    @media (max-width: $mobilewidth) {
      margin-right: 2px;
    }
  }
  label {
    margin-right: 20px;
    @media (max-width: $mobilewidth) {
      margin-right: 2px;
    }
  }
}
